extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Rodrigo Mattos

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae dolor tortor. Maecenas tempus vitae mi sit amet dictum. Pellentesque ornare elit eu sapien congue, vitae aliquam mi egestas. Ut semper dui sed ante gravida, ac tincidunt ex placerat. Vivamus orci arcu, tempor vitae est vitae, volutpat porttitor mauris. Fusce sit amet mi viverra, sollicitudin elit at, sollicitudin tortor. Quisque eget augue id lectus commodo dapibus. Curabitur sodales tincidunt pharetra.

          p
            | Etiam orci nisl, ultricies eu turpis id, congue mattis massa. Morbi tincidunt erat vel ante suscipit, quis sodales orci sodales. Aenean id suscipit neque. Etiam augue leo, suscipit eu rhoncus id, volutpat eget massa. Vivamus in nisl sit amet ligula posuere posuere sed a magna. Praesent id venenatis turpis. Morbi molestie luctus rutrum. Nunc turpis dui, dignissim eget mauris nec, elementum posuere erat.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li React
          li HTML5
          li PHP
          li MySQL 
          li MSSQL
          li ActionScript
          li SOAP
          li REST
        h6 Contact Info

        ul
          li 555-555-1234
          li rodrigo.mattos@osf-commerce.com

        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  